/* REGLA 1: */
h1 {
    background-color: chocolate;
    color: white;
    padding: 10px;
  }
  
  /* REGLA 2 */
  h2 {
    color: blueviolet;
    text-align: right;
    font-size: 24px;
    background-color: aqua;
    padding: 10px;
  }
  
  /* REGLA 3 */
  p {
    line-height: 1.5;
    text-align: justify;
    font-size: 16px;
  }
  
  /* REGLA 4 */
  .fortnite-tabla {
    width: 100px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
/* Regla 5 */
.fortnite-tabla th, .fortnite-tabla td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

/* Regla 6 */
.fortnite-tabla th {
  background-color: #3498db;
  color: white;
}

/* Regla 7 */
img {
  width: 200px;
  border: 2px solid blue;
  border-radius: 8px; /* Bordes redondeados */
  margin-right: 40%;
  margin-left: 40%;
}

/* Regla 8 */
strong {
  font-weight: 900;
  background-color: red;
  color: black;
}

/* Regla 9 */
* {
  background-color: cadetblue;
}

/* Regla 10 */
p {
  font-family: 'Roboto Mono', monospace;
}
